<div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4">
  <div class="card bordered">
    <div class="card-body">
      <h2 class="card-title text-3xl font-bold">Create Event</h2>
      <p class="text-gray-500">Create and manage your own events.</p>
      <%= link_to "Create Event", new_event_path, method: :get, class: "btn btn-primary mt-4" %>
    </div>
  </div>

  <div class="card bordered">
    <div class="card-body">
      <h2 class="card-title text-3xl font-bold">View and Join Events</h2>
      <p class="text-gray-500">Browse existing events and join the ones you're interested in.</p>
      <%= link_to "View Events", events_path, method: :get, class: "btn btn-primary mt-4" %>
    </div>
  </div>
</div>
