<div class="card bordered">
  <div class="card-body">
    <h2 class="card-title text-center">Edit <%= resource_name.to_s.humanize %></h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-control">
        <label class="label"><span class="label-text">Email</span></label>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-control">
        <label class="label"><span class="label-text">Password <i>(leave blank if you don't want to change it)</i></span></label>
        <%= f.password_field :password, autocomplete: "new-password", class: "input input-bordered" %>
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="form-control">
        <label class="label"><span class="label-text">Password confirmation</span></label>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input input-bordered" %>
      </div>

      <div class="form-control">
        <label class="label"><span class="label-text">Current password <i>(we need your current password to confirm your changes)</i></span></label>
        <%= f.password_field :current_password, autocomplete: "current-password", class: "input input-bordered" %>
      </div>

      <%= f.submit "Update", class: "btn btn-primary mt-4" %>
    <% end %>

    <h3>Cancel my account</h3>

    <div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), form: { data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } }, class: "btn mt-4" %></div>

    <%= link_to "Back", :back, class: "btn mt-4" %>
  </div>
</div>
