<div class="card bordered">
  <div class="card-body">
    <h2 class="card-title text-center">Sign up</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-control">
        <label class="label"><span class="label-text">Email</span></label>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered" %>
      </div>

      <div class="form-control">
        <label class="label"><span class="label-text">Password</span></label>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: "input input-bordered" %>
      </div>

      <div class="form-control">
        <label class="label"><span class="label-text">Password confirmation</span></label>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input input-bordered" %>
      </div>

      <%= f.submit "Sign up", class: "btn btn-primary mt-4" %>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
