<div class="overflow-x-auto m-4">
  <table class="table w-full">
    <thead>
      <tr>
        <th>
          <label>
            <input type="checkbox" class="checkbox" />
          </label>
        </th>
        <th>Name</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @organizers.each do |organizer| %>
        <tr>
          <th>
            <label>
              <input type="checkbox" class="checkbox" />
            </label>
          </th>
          <td>
            <div class="flex items-center space-x-3">
              <div>
                <div class="font-bold"><%= organizer.user&.name %></div>
                <div class="text-sm opacity-50"><%= organizer.user&.email %></div>
              </div>
            </div>
          </td>
          <td>
            Organizer
            <br/>
            <span class="badge badge-ghost badge-sm">Role</span>
          </td>
          <td>
            <%= link_to 'details', organizer_events_path(organizer), class: "btn btn-ghost btn-xs" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @organizers %>
</div>
