<div class="overflow-x-auto m-4">
  <table class="table w-full">
    <thead>
      <tr>
        <th>
          <label>
            <input type="checkbox" class="checkbox" />
          </label>
        </th>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% @participants.each do |participant| %>
        <tr>
          <th>
            <label>
              <input type="checkbox" class="checkbox" />
            </label>
          </th>
          <td>
            <div class="flex items-center space-x-3">
              <div>
                <% user = User.find(participant.user_id) %>
                <div class="font-bold"><%= user&.name %></div>
                <div class="text-sm opacity-50"><%= user.email %></div>
              </div>
            </div>
          </td>
          <td>
            Participant
            <br/>
            <span class="badge badge-ghost badge-sm">Role</span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
