<div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4">
  <div class="card bordered">
    <div class="card-body">
      <h2 class="card-title text-center">Update User</h2>
      <%= form_for @user do |f| %>
        <div class="form-control">
          <label class="label"> <span class="label-text">User Name</span> </label>
          <%= f.text_field :name, class: "input input-bordered" %>
        </div>
        <div class="form-control">
          <label class="label"> <span class="label-text">User Email</span> </label>
          <%= f.text_field :email, class: "input input-bordered" %>
        </div>
        <%= f.submit "Update User", class: "btn btn-primary mt-4" %>
      <% end %>
    </div>
  </div>
</div>
