<div class="card bordered p-4">
  <div class="card-body">
    <h2 class="card-title text-3xl font-bold mb-4"><%= @user&.name %></h2>
    <p class="text-gray-500 text-lg mb-4"><%= @user.email %></p>

    <div class="flex flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-2 mt-4">
      <%= link_to "Edit User", edit_user_path(@user), class: "btn btn-accent mr-2" %>
    </div>
  </div>
</div>