<div class="card bordered">
  <div class="card-body">
    <h2 class="card-title text-center">Change your password</h2>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="form-control">
        <label class="label"><span class="label-text">New password</span></label>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "input input-bordered" %>
      </div>

      <div class="form-control">
        <label class="label"><span class="label-text">Confirm new password</span></label>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input input-bordered" %>
      </div>

      <%= f.submit "Change my password", class: "btn btn-primary mt-4" %>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
