<div class="card bordered">
  <div class="card-body">
    <h2 class="card-title text-center">Forgot your password?</h2>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-control">
        <label class="label"><span class="label-text">Email</span></label>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered" %>
      </div>

      <%= f.submit "Send me reset password instructions", class: "btn btn-primary mt-4" %>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
