<%# https://daisyui.com/components/alert/#info-color %>
<%# https://daisyui.com/components/alert/#error-color %>

<% if flash.present? %>
  <% flash.each do |type, message| %>
    <% if type == "notice" %>
      <p class="notice">
        <div class="alert alert-info">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
          <span><%= notice %></span>
        </div>
      </p>
    <% else %>
      <p class="alert">
        <div class="alert alert-error">
          <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
          <span><%= alert %></span>
        </div>
      </p>
  <% end %>
<% end %>

