<%# https://daisyui.com/components/hero/#centered-hero %>

<div class="hero min-h-screen">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Hello there</h1>
      <p class="py-6">Efficiently manage your events with this service, offering real-time attendee tracking, QR code check-ins, and easy event detail sharing.</p>
      <%= link_to "Get Started", navigations_path, method: :get, class: "btn btn-primary" %>
    </div>
  </div>
</div>

