<div class="relative inline-flex mt-4 m-4">
  <svg class="w-2 h-2 absolute top-0 right-0 m-4 pointer-events-none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 412 232"><path d="M206 171.144L42.678 7.822c-9.763-9.763-25.592-9.763-35.355 0C-2.792 17.923-2.792 37.271 7.323 47.336L175.637 215.67c9.763 9.763 25.592 9.763 35.355 0l168.314-168.314c9.765-9.764 9.765-25.592 0-35.355-9.763-9.763-25.592-9.763-35.355 0L206 171.144z" fill="#648299" fill-rule="nonzero"/></svg>
  <select onchange="location = this.value;" class="border border-gray-300 rounded-full text-gray-600 h-10 pl-5 pr-10 bg-white hover:border-gray-400 focus:outline-none appearance-none">
    <option value="">Filter by organizer</option>
    <% @organizers.each do |organizer| %>
      <option value="<%= organizer_events_path(organizer) %>"><%= organizer.user.name %></option>
    <% end %>
  </select>
</div>
