<div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4">
  <div class="card bordered">
    <div class="card-body">
      <h2 class="card-title text-center">Update Event</h2>
      <%= form_for @event do |f| %>
        <div class="form-control">
          <label class="label"> <span class="label-text">Event Title</span> </label>
          <%= f.text_field :title, class: "input input-bordered" %>
        </div>
        <div class="form-control">
          <label class="label"> <span class="label-text">Event Description</span> </label>
          <%= f.text_area :description, class: "textarea textarea-bordered" %>
        </div>
        <%= f.fields_for :schedule do |s| %>
          <div class="form-control">
            <label class="label"> <span class="label-text">Start Time</span> </label>
            <%= s.datetime_field :start_time, class: "input input-bordered" %>
          </div>
          <div class="form-control">
            <label class="label"> <span class="label-text">End Time</span> </label>
            <%= s.datetime_field :end_time, class: "input input-bordered" %>
          </div>
        <% end %>
        <%= f.submit "Update Event", class: "btn btn-primary mt-4" %>
      <% end %>
    </div>
  </div>
</div>
