<%= render "filter" %>

<div class="flex flex-col md:flex-row justify-between items-start md:items-center mb-4">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 p-4">
    <% @events.each do |event| %>
      <div class="card bordered">
        <div class="card-body">
          <h2 class="card-title text-center"><%= event.title %></h2>
          <p><%= event.description %></p>
          <p>Created at: <%= event.created_at.strftime('%Y-%m-%d %H:%M') %></p>
          <%= link_to "View Event", event_path(event), class: "btn btn-primary mt-4" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= paginate @events %>
