<div class="card bordered p-4">
  <div class="card-body">
    <h2 class="card-title text-3xl font-bold mb-4"><%= @event.title %></h2>
    <p class="text-gray-500 text-lg mb-4"><%= @event.description %></p>
    <p class="text-gray-500 mb-2"><strong>Organized by:</strong> <%= @event&.organizer&.user&.name %></p>
    <p class="text-gray-500 mb-2"><strong>Location:</strong> <%= @event&.location&.location %></p>
    <p class="text-gray-500 mb-2"><strong>Category:</strong> <%= @event&.category&.category %></p>
    <p class="text-gray-500 mb-2"><strong>Created at:</strong> <%= @event.created_at.strftime("%B %d, %Y %H:%M") %></p>
    <p class="text-gray-500 mb-2"><strong>Updated at:</strong> <%= @event.updated_at.strftime("%B %d, %Y %H:%M") %></p>

    <div class="flex flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-2 mt-4">
      <%= link_to "Back to Events", events_path, class: "btn btn-primary" %>
      <%= link_to "Share Event", event_path(@event, format: :json), class: "btn btn-primary mr-2" %>
      <%= link_to "Participant List", participants_event_path(@event), class: "btn btn-primary mr-2" %>
      <% if organizer?(@event, current_user) %>
        <%= link_to "Edit Event", edit_event_path(@event), class: "btn btn-accent mr-2" %>
        <%= button_to "Destroy", event_path(@event), method: :delete, data: { turbo: false, turbo_confirm: "Are you sure?" }, class: "btn btn-secondary mr-2" %>
      <% elsif participant_registered?(@event, current_user) %>
        <%= button_to "Leave Event", leave_event_event_path(@event), method: :delete, data: { turbo: false, turbo_confirm: "Are you sure?" }, class: "btn btn-secondary mr-2" %>
      <% else %>
        <%= button_to 'Join Event', join_event_event_path(@event), form: { data: { turbo_method: "post", turbo_confirm: "Are you sure you want to join this event?" } }, class: "btn btn-accent mr-2" %>
      <% end %>
    </div>
  </div>
</div>