<div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4">
  <div class="card bordered">
    <div class="card-body">
      <h2 class="card-title text-center">Log in</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-control">
          <label class="label"> <span class="label-text">Email</span> </label>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered" %>
        </div>

        <div class="form-control">
          <label class="label"> <span class="label-text">Password</span> </label>
          <%= f.password_field :password, autocomplete: "current-password", class: "input input-bordered" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-control">
            <%= f.check_box :remember_me %>
            <label class="label"> <span class="label-text">Remember me</span> </label>
          </div>
        <% end %>

        <%= f.submit "Log in", class: "btn btn-primary mt-4" %>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
