<%# https://daisyui.com/components/alert/#info-color %>
<%# https://daisyui.com/components/alert/#error-color %>

<% if notice %>
  <p class="notice"><span><%= notice %></span></p>
<% elsif alert %>
  <p class="alert"><span><%= alert %></span></p>
<% end %>
