<!DOCTYPE html>
<html>
  <head>
    <title>RailsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "turbo", type: "module" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@1.25.4/dist/full.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <main class="main-container">
      <header class="main-header">
        <%= render "common/header" %>
      </header>
      <div class="main-content">
        <% if flash.present? %>
          <%= render "common/flash" %>
        <% end %>
        <%= yield %>
      </div>
      <% if user_signed_in? %>
        <footer class="main-footer">
          <%= render "common/footer" %>
        </footer>
      <% end %>
    </main>
  </body>
</html>
